body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
    color: #333;
}

header {
    background: #4b7bec;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

h2 {
    color: #4b7bec;
}

section {
    padding: 20px 60px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #eee;
}
